manifest {
	name = 'fredjaya/msmc-nf'
	author = 'Fred Jaya'
	homePage = 'https://github.com/fredjaya/msmc-nf'
	description = 'Demographic reconstruction with MSMC2'
	mainScript = 'main.nf'
}

params {
	
	// General 
	in = "/media/meep/GenomeAbyss/capensis"
	out = "/media/meep/GenomeAbyss/nf_test"
	trace = "${params.out}/tracing"
	path = "/home/meep/Desktop/Biocomputing"

	// Input files
	ref = "${params.in}/GCF_003254395.2_Amel_HAv3.1_genomic.fna"
	prefix = "capensis"
	k = "35"
	samples = "${params.in}/samples_2.txt"
	scaffolds = "${params.in}/true_scaffolds.txt"
	coverage = "${params.in}/coverage/*.txt"
	bam = "${params.in}/test_bams/*{_recalibrated_reads.bam,_recalibrated_reads.bai}"
	mask_genome = "${params.in}/mask_indiv/*_*.genMask.bed.gz"
}

profiles {
	conda { process.conda = "${baseDir}/environment.yml" }
}

process {
	withLabel: pbs_small {
		executor = 'pbs'
		cpus = 1
		memory = 8.GB
		time = '1h'
	}
}
